<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio Pessoal</title>

    <link rel="icon" href="../../Public/Img/arruda1.png">
    <link rel="stylesheet" href="../../Public/Css/style.css">
    <script src="/Public/Js/script.js"></script>
</head>
<body>
    <header>
        <div class="nav_title">
            <h6>< J. Arruda/> </h6>
        </div>

        <ul class="navbar">
            <a href="#objetivos">Objetivos</a>
            <a href="#galeria">Galeria</a>
            <a href="#projetos">Projetos</a>
        </ul>
    </header>

    <section class="hero" id="home">
            <div class="hero-content">
                    <div class="nav_text">
                    <h1 class="title">Transformando ideias </h1>
                    <span>em experiências digitais</span>
                    <p class="subtitle">Construindo interfaces modernas e sistemas escaláveis com foco em performance e design.</p>
                    <div class="geral_button">
                        <div class="nav_button"><li><a href="#projetos"><button type="submit" class="btnn">Ver projetos</button></a></li>
                        </div>
                    </div>
                    
                    </div>
                </form>
            </div>
        </section>

        <section id="objetivo" class="objetivos section-hidden">
            <div class="container5">
                <h2>Meus principais <br><span id="span">objetivos</span></h2>
                <div class="objetivos">
                    <div class="img-item">

                        <div class="img_desc card-hidden">
                            <img class="logoS" src="" alt="">
                            <h3 class="card-title">Transparência</h3>
                            <p class="text_objetivos">Excelência e clareza em cada etapa do processo.</p>
                        </div>

                        <div class="img_desc card-hidden">
                            <img class="logoS" src="" alt="">
                            <h3 class="card-title">Custo-Benefício</h3>
                            <p class="text_objetivos">Alta performance com o melhor custo-benefício.</p>
                        </div>

                        <div class="img_desc card-hidden">
                            <img class="logoS" src="" alt="">
                            <h3 class="card-title">Inovação</h3>
                            <p class="text_objetivos">Aplicações práticas com o que há de mais moderno em tecnologia.</p>
                        </div>

                        <div class="img_desc card-hidden">
                            <img class="logoS" src="" alt="">
                            <h3 class="card-title">Tecnologia de ponta</h3>
                            <p class="text_objetivos">Soluções tecnológicas avançadas que fortalecem sua empresa.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section id="equipe">
            <h2>Galeria</h2>
            <div class="slide-container swiper">
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        <!-- Card 2 -->
                        <div class="card swiper-slide">
                            <h2>Apresentação TCC</h2>
                            <div class="image-content">
                                <div class="card-image">
                                    <img src="../../Public/Img/fotoNoTCC.png" alt="Foto de Edivan" class="card-img">
                                </div>
                            </div>
                            
                        </div>
                        </div>

                    </div>
                </div>
                <!-- Botões de navegação -->
                <div class="swiper-button-next next"></div>
                <div class="swiper-button-prev prev"></div>
            </div>
        </div>
        </section>
      
        <section id="projetos" class="carousel-container" style="padding: 70px 0px;">
            <h2>Projetos</h2>
            <div class="carousel" id="carousel">
                <div class="carousel-item">
                    <p>Aplicativo para indicação das UBS e Farmácias Populares mais próxima de você.</p>
                    <img class="logoC" src="../../Public/Img/BUSCAMED.png" alt="">

                    <img class="prop" src="../../Public/Img/novoFundo.png" alt="ProjetoBuscamed">

                    <button>video pitch</button>
                    <button>Github</button>
                </div>
            </div>
        </section>

        <footer>
            <div class="line-footer2">        
        
            </div>

            <div class="line-footer3">
                <p>João P. Arruda 2026 &copy; Todos os direitos reservados</p>
            </div>
        </div>
    </footer>

</body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.15/swiper-bundle.min.js"></script>
        
   
</html>