footer {
  background-color: #000;
  color: var(--text-secondary);
  padding: 20px 0;
  font-size: 0.88rem;
}

.line-footer2 { padding: 20px 40px; border-bottom: 0.5px solid #816e3955; }

.line-footer3 { padding-top: 20px; text-align: center; }

