* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg:               #0D0D0D;
  --bg2:              #131318;

  --accent:           #5246a1;
  --accent-soft:      #1E1B38;
  --accent-gold:      #C9A84C;

  --text-primary:     #F0F0F5;
  --text-secondary:   #7A7A8A;

  --border-primary:   #2A2A2A;
  --border-secondary: rgba(255,255,255,0.12);

  --surface-primary:  #131318;
  --surface-secondary:#161616;

  --shadow-soft:      0 10px 30px rgba(0,0,0,0.25);
}